mixin section-course
    .course#course
        .course__content
            .course__content-title= 'Featured Course'
            .course__content-desc= 'Everything you need to  when you\'re looking'
            .course__content-cards
                .course__content-cards-item
                    .img
                        img(src='assets/img/img-4-1.jpg')
                    .title= 'A Complete Web development'
                    .scope= 'Technology > Web development'
                    .info
                        .info__price= '$450'
                        .info__hours= '23.5 hours'
                        .info__articles= '52 Articles'
                .course__content-cards-item
                    .img
                        img(src='assets/img/img-4-2.jpg')
                    .title= 'Music Production Courses'
                    .scope= 'Music & Sounding'
                    .info
                        .info__price= '$320'
                        .info__hours= '18.5 hours'
                        .info__articles= '27 Articles'
                .course__content-cards-item
                    .img
                        img(src='assets/img/img-4-3.jpg')
                    .title= 'Personality development course'
                    .scope= 'Personal development'
                    .info
                        .info__price= '$620'
                        .info__hours= '32.3 hours'
                        .info__articles= '37 Articles'
        .course__dec-img-1
            img(src='assets/img/svg/dec-1-3.svg')
        .course__dec-img-2
            img(src='assets/img/svg/dec-1-6.svg')