mixin section-footer
    .footer
        .footer__content
            .footer__content-sitemap
                .footer__content-sitemap-section
                    .title= 'Pages'
                    .links
                        a.item(href='#')= 'Home'
                        a.item(href='#')= 'About Us'
                        a.item(href='#')= 'Courses'
                        a.item(href='#')= 'Blog'
                .footer__content-sitemap-section
                    .title= 'Resources'
                    .links
                        a.item(href='#')= 'Our Homes'
                        a.item(href='#')= 'Member Stories'
                        a.item(href='#')= 'Video'
                        a.item(href='#')= 'Free trial'
                .footer__content-sitemap-section
                    .title= 'Company'
                    .links
                        a.item(href='#')= 'Patnerships'
                        a.item(href='#')= 'Terms of use'
                        a.item(href='#')= 'Privacy'
                        a.item(href='#')= 'Sitemap'
            .footer__content-contact
                .footer__content-contact-social
                    .title= 'Find us at'
                    .social-list
                        a.item.facebook(href='')
                            img(src='assets/img/svg/facebook-ico.svg')
                        a.item.twitter(href='')
                            img(src='assets/img/svg/twitter-ico.svg')
                        a.item.linkedin(href='')
                            img(src='assets/img/svg/linkedin-ico.svg')
                .footer__content-contact-map
                    img(src='assets/img/map.jpg')