mixin section-features
    .features
        .features__content
            .features__content-features
                .features__content-features-card
                    .ico
                        img(src='assets/img/svg/teachers-ico.svg')
                    .title= 'Experienced Teacher'
                    .desc= 'We teach in small groups with experienced, supportive staff who are trained to understand some of the problems our students face.'
                .features__content-features-card
                    .ico
                        img(src='assets/img/svg/progress-ico.svg')
                    .title= 'Progressive Learning'
                    .desc= 'Our mission is to use our knowledge, skills, and networks to equip people with multiple disadvantages with the skills to gain and sustain employment'
                .features__content-features-card
                    .ico
                        img(src='assets/img/svg/learn-ico.svg')
                    .title= 'Graduate and  job ready'
                    .desc= 'We are a unique training provider willing to give you all the skills and experience you need to fulfil your future career'
        .features__dec-img-1
            img(src='assets/img/svg/dec-3-1.svg')
        .features__dec-img-2
            img(src='assets/img/svg/dec-3-1.svg')